@font-face {
  font-family: "Bitstream Vera Sans";
  src: local("Bitstream Vera Sans"), url("/fonts/Bitstream Vera/Vera.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bitstream Vera Sans";
  src: local("Bitstream Vera Sans"), url("/fonts/Bitstream Vera/VeraBd.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}