@import "variables";

.gallery-viewer {
  width: 100vw;
  max-width: 100%;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;

  .gallery-holder {
    display: flex;

    figure {
      width: 100vw;
      height: 100vh;
      margin: 0;
      position: fixed;
      top: 0;
      left: 0;

      transition-property: left;
      transition-duration: 125ms;
      transition-timing-function: ease;
      display: none;

      &.prev {
        left: -100vw;
      }

      &.next {
        left: 100vw;
      }

      //Fixes image bleeding on crazy resize
      &.prev, &.next {
        animation-name: opacity-to-none;
        animation-duration: 0s;
        animation-delay: 250ms;
        animation-fill-mode: forwards;

        @keyframes opacity-to-none {
          from {
            opacity: 1;
          }
          to {
            opacity: 0;
          }
        }

        figcaption {
          display: none;
        }
      }


      &.next, &.prev, &.current {
        display: block;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      figcaption {
        position: fixed;
        bottom: 0;
        left: 0;

        background: rgba(0,0,0,0.8);
        padding: 1em;
        color: $color-text-bright;
        font-weight: bold;
        line-height: 2em;

        width: 100vw;
        box-sizing: border-box;

        @media screen and (max-width: $break-small) {
          margin-left: 4em;
          width: calc(100vw - 8em);
        }
      }
    }
  }


  .button-next {
    right: 0;
    margin-right: 1em;
    transform: scaleX(-1);

  }

  .button-prev {
    left: 0;
    margin-left: 1em;
  }

  .button-next, .button-prev {
    position: fixed;
    background: rgba(255, 2552, 255, 0.8) url("/img/arrow-left.svg") no-repeat 0.5em;
    background-size: 3em;

    @media screen and (max-width: $break-small) {
      bottom: 0;
    }
  }

  .button-prev, .button-next, .button-close {
    width: 4em;
    height: 4em;

    //border-radius: 50%;

    cursor: pointer;
    filter: invert(100%);

    z-index: 1;

    @media screen and (max-width: $break-small) {
      margin: 0 !important;
      border-radius: 0;
    }
  }

  .button-close {
    background: rgba(255, 2552, 255, 0.8) url("/img/close.svg") no-repeat 0.5em;
    background-size: 3em;

    position: fixed;
    top: 0;
    right: 0;
    margin-top: 1em;
    margin-right: 1em;
  }
}