@import "variables";
@import "mixins";

header {
  background-color: $color-background;
  border-bottom: 4px $color-arch-darker solid;
  padding: 0.5em 0;

  position: sticky;
  top: 0;

  .container {
    @include optimal-width();
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;

    padding: 0 1.5em;

    height: 3em;
    background: url("/img/archlinux-logo-light-scalable.1ae4cc2e2469.svg") no-repeat 1.5em 0;
    background-size: contain;

    margin-bottom: 0.5em;

    #menu-button {
      cursor: pointer;

      @media screen and (min-width: $break-small) {
        display: none;
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  nav {
    margin-bottom: -0.5em; //Padding from header

    overflow: hidden;

    height: 0;

    @media screen and (min-width: $break-small) {
      height: auto !important;
    }

    ul {
      @include optimal-width();

      margin-top: 0;
      margin-bottom: 0;
      padding: 0;
      //display: flex;
      //flex-wrap: wrap;
      //align-items: center;
      //justify-content: space-between;

      display: grid;

      @media screen and (min-width: $break-small) {
        grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
      }

      li {
        list-style-type: none;
        //flex-grow: 1;
        text-align: center;
        //flex-basis: 15em;

        a {
          color: $color-text-bright;
          text-decoration: none;
          line-height: 2.5em;
          display: inline-block;
          width: 100%;
          height: 100%;

          transition: background-color 0.125s;

          &:hover, &:focus {
            background-color: $color-arch;
          }
        }


        &.selected {
          a {
            background-color: $color-arch-darker;
          }
        }
      }
    }
  }

}