@import "variables";

//legal.html
.images-rights {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax($break-image, 1fr));
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  max-width: 100%;

  @media screen and (max-width: $break-small) {
    grid-template-columns: 100%;
  }

  padding: 0;

  li {
    list-style-type: none;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

//gallery.html, index.html
.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($break-image, 1fr));
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  max-width: 100%;

  @media screen and (max-width: $break-small) {
    grid-template-columns: 100%;
  }

  figure {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    img {
      width: 100%;
      //height: 100%;
      object-fit: contain;
    }

    figcaption {
      margin-top: 0.5em;
      font-weight: bold;
    }
  }
}

//about.html
form.contact {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;

  label {
    display: flex;
    flex-direction: column;

    margin-bottom: 0.75em;

    span::after{
      content: ":";
    }

    input, textarea {
      border: $color-arch solid 2px;

      &:focus {
        border-color: $color-arch-brighter;
      }
    }

    textarea {
      min-height: 5em;
      resize: vertical;
    }
  }

  input[type="submit"] {
    border: none;
    background-color: $color-arch;
    color: $color-text-bright;
    font-size: 1.25em;
    padding: 0.125em;

    &:hover, &:focus {
      background-color: $color-arch-brighter;
    }
  }
}