@import "variables";

body.variant-2 {
  background-color: $color-background-darkest;

  header, footer {
    background-color: $color-background-darker;
  }

  main {

    > h1 {
      text-align: center;
    }

    article {
      padding: 0;
      background-color: $color-background-darker;
      color: $color-text-bright;

      border: $color-background-dark solid 0.25em;

      > *:not(h1) {
        padding-left: 0.5em;
        padding-right: 0.5em;
      }

      h1, h2 {
        margin: 0;
        padding: 0.125em 0;
        display: block;
        text-align: center;

        background-color: $color-background-dark;
      }

      ul li {
        list-style: inside;
      }
    }

    form {
      input, textarea {
        background-color: $color-background-dark;
        color: $color-text-bright;
        border-color: $color-arch-darker;

        &:focus {
          border-color: $color-arch;
        }
      }

      input[type="submit"] {
        background-color: $color-background-dark;

        &:hover, &:focus {
          background-color: $color-background;
        }
      }
    }
  }
}