$break-small: 600px;

$color-background: #333;
$color-background-dark: #222;
$color-background-darker: #111;
$color-background-darkest: black;

$color-arch: #08c;
$color-arch-darker: #07b;
$color-arch-brighter: #09d;

$color-text-bright: white;

$break-image: 300px;
$width: calc(#{$break-small} + (100vw - #{$break-small}) / 2);