@import "variables";
@import "fonts";
@import "mixins";
@import "menu-burger";
@import "header";
@import "page-specific";
@import "variant-2";
@import "gallery-viewer";

body {
  background-color: #fcfcfc;
  font-family: "Bitstream Vera Sans", sans-serif;
  margin: 0;

  min-height: 100vh;
  display: flex;
  flex-direction: column;

  overflow-y: scroll;

  &.unscrollable {
    overflow: hidden;
  }

}

main, footer {
  a {
    text-decoration-line: none;
    color: $color-arch;
    font-weight: bold;

    transition-property: color, text-decoration-line;
    transition-duration: 0.125s;

    &:hover {
      color: $color-arch-brighter;
      text-decoration-line: underline;
    }

    &.low-profile {
      cursor: text;
      &:hover {
        text-decoration-line: none;
      }
    }
  }
}


main {
  @include optimal-width();

  flex-grow: 1;

  padding: 0.5em;
  box-sizing: border-box;

  h1, h2 {
    color: $color-arch;
  }

  span[title], abbr[title] {
    text-decoration-line: underline;
    text-decoration-style: dotted;
  }

  article {
    background-color: #eee;
    padding: 0.5em;
    box-sizing: border-box;

    margin-bottom: 1em;

    h1, h2 {
      background-color: $color-arch;
      color: $color-text-bright;
      display: inline-block;
      padding: 0.5em 0.75em 0.5em 2em;
      margin: 0.25em 0 0.2em -1.5em;
    }

    p {
      text-align: justify;
    }
  }
}



footer {
  min-height: 3em;
  background-color: $color-background;
  display: flex;
  border-top: 4px $color-arch-darker solid;

  align-items: center;

  div {
    @include optimal-width();

    padding: 0.25em 1em; ///Summing article's and main's padding you get 1em
    box-sizing: border-box;

    color: $color-text-bright;
  }
}