{% import "../templates/macros/images-gallery.njk" as imagesGallery %}
{% extends "../templates/base.njk" %}
{% block main %}
    <main>
        <h1>404 - No cookies for you</h1>

        <article>
            <h2>What happened?</h2>
            <p>You somehow managed to break the web.</p>
            <p>Just kidding! You may've just typed the wrong address, or you followed a broken link.</p>
            <p>If you think this was an server error, don't hesitate contacting me by sending me an e-mail <a
                        href="mailto:{{ mail }}">here</a>.</p>
        </article>
    </main>
{% endblock %}