{% extends "../templates/base.njk" %}
{% set menu_selected = "about" %}
{% block main %}
    <main>
        <h1>About</h1>
        <article>
            <h2>Who are you?</h2>
            <p>I'm just a normal guy who loves computers and technology, Linux and free (as in freedom) software.</p>
            <p>I'm 17 years old and live in the Switzerland.</p>
            <p>Yay!</p>
        </article>
        <article>
            <h2>Which technologies did you use for making this website?</h2>
            <p>A bunch!</p>
            <ul>
                <li><a href="https://www.npmjs.com/" target="_blank">npm</a> (for dependency management)</li>
                <li><a href="https://gulpjs.com/" target="_blank">gulp.js</a> (for build automation)</li>
                <li><a href="http://sass-lang.com/" target="_blank">Sass</a> (for CSS)</li>
                <li><a href="http://www.typescriptlang.org/" target="_blank">TypeScript</a> (for JavaScript)</li>
                <li><a href="https://mozilla.github.io/nunjucks/" target="_blank">Nunjucks</a> (for HTML pages)</li>
                <li><a href="https://git-scm.com/" target="_blank">Git</a> (for version control)</li>
            </ul>
        </article>
        <article>
            <h2>Is it open source?</h2>
            <p>Abso-fucking-lutely! (Pardon me!) You can access it <a
                        href="https://gitlab.com/hockdudu-school/uK-101-arch" target="_blank">here</a>!</p>
        </article>
        <article>
            <h2>Do you prefer cats or dogs?</h2>
            <p>Cats. All the way!</p>
            <p>If you don't agree, <a href="https://uk-joel.hockdudu.ch/" target="_blank">have a neat look on my friend's website</a>!</p>
        </article>
        <article>
            <h2>I want to marry you!</h2>
            <p>Sorry, I already have a girlfriend 😅.</p>
            <p><strong>I love you Joana! ❤️️</strong></p>
        </article>
        <article>
            <h2>How can I contact you?</h2>
            <p>Good thing you asked! There's a link on the footer with my e-mail, but you can also contact me with this
                <em>super shiny brilliantly cutely hand-made lovely</em> form!</p>

            <form method="post" action="#" class="contact">

                <label>
                    <span>First name</span>
                    <input name="first-name" placeholder="John" type="text" required>
                </label>
                <label>
                    <span>E-Mail (optional, needed for me contacting you back 😊)</span>
                    <input name="email" placeholder="john.doe@example.com" type="email">
                </label>

                <label>
                    <span>Your message</span>
                    <textarea name="message" required></textarea>
                </label>

                <input type="submit" value="Send!">
            </form>
        </article>
        <article>
            <h2>Legal info</h2>
            <p>For images rights, usage permission and cookie info <a href="/legal.html">click here</a>.</p>
        </article>
        <article>
            <h2 id="style-toggle-header">Why is your site so white?!</h2>
            <p>Doesn't need to be, just click <a class="style-toggle" href="#style-toggle-header">here</a>! (Or press
                <kbd>Ctrl</kbd> + <kbd>E</kbd>)</p>
        </article>
    </main>
{% endblock %}
