{% import "../templates/macros/images-gallery.njk" as imagesGallery %}
{% extends "../templates/base.njk" %}
{% set menu_selected = "gallery" %}
{% block main %}
    <main>
        <h1>Gallery</h1>

        <article>
            <h2>Screenshots</h2>
            <p>Here are some screenshots from Arch Linux:</p>
            {{ imagesGallery.imagesGallery(images) }}

        </article>

    </main>
{% endblock %}