{% import "../templates/macros/images-gallery.njk" as imagesGallery %}
{% extends "../templates/base.njk" %}
{% set menu_selected = "home" %}
{% block main %}
    <main>
        <h1>Arch Linux</h1>

        <article>
            <h2>What is it?</h2>
            <p>Arch Linux is a Linux distribution, on which <em>everything</em> <em>can</em> and <em>is</em> fully
                controlled by the user.</p>
            <p>That means, only that will be done what you want, and only that installed what you need.</p>
        </article>

        <article>
            <h2>Why should I use it?</h2>
            <p>Because it's a system, which is truly yours. It's said, no two Arch Linuxes are the same, because users
                can install different programs, for different needs, with different intentions.</p>
            <p>Examples on how your Arch Linux could look like:</p>
            {{ imagesGallery.imagesGallery([images[0], images[3], images[5]]) }}
            <p>They're all the same system, <em>Arch Linux</em>.</p>
            <p>It's done for everybody who want to make their hands dirty and play with the computer. Because you have
                to do everything by yourself, you start <em>learning</em> how your computer works. From the instant when
                the boot-loader loads to when you log-in, you GUI starting, opening a program, updating the system,
                shutting down... (Don't worry if you don't know what that means yey)</p>
            <p>If you don't have the time or patience to fix your system, in the case things go wrong, then well, it's
                better when you take another system.</p>
            <p>Arch Linux is a truly <abbr title="Do It Yourself">DIY</abbr> system, also being able to do everything is
                a <span title="a benefit that is also a liability">double-edged sword</span>. You can achieve great
                things if you have the will to do so, but messing everything up is twice as easy.</p>
        </article>

        <article>
            <h2>What can I do with it, that I can't on other systems?</h2>
            <p>You've seen the images above, haven't you? This is just one part of it.</p>
            <p>You surely love searching the web for the right <abbr title="Windows' EXEcutable file format">.exe</abbr>
                for your program, don't you? Then having the program
                installing it's updater software that starts on logon keeps on you tray, slowing your system, don't you?
            </p>
            <p>Well, me neither.</p>
            <p>With Arch Linux, you can forget about it!</p>
            <p>Everything is managed centrally, every installed program.</p>
            <p>And viruses? <em>Nope</em>, not with Arch Linux. Because you never download any program from the web,
                instead you
                download it from the verified sources from the package manager, you don't risk your computer, and
                therewith your important private files, with viruses.</p>
        </article>

        <article>
            <h2>How do I get it?</h2>
            <p>Simple: just read <a href="https://wiki.archlinux.org/index.php/Installation_guide"
                                    target="_blank">this</a> guide! Simple, isn't it?</p>
            <p>And by <q>read it</q> I mean <em>read it!</em> One step skipped and you might have to restart it all
                again. Have fun!</p>
            <p>I wish you a great time doing that and also after you installed it. I'm 100% sure you'll spend many
                hours configuring your system, fixing errors and learning from them, changing you <abbr
                        title="Graphical User Interface, also the look of your system">GUI</abbr> a lot of times, asking
                yourself why you haven't done it before and so alike.</p>
            <p>And remember: <q>With great power comes great responsibility.</q></p>
            <p>Psst! If you are afraid of this installation process you can also install
                <a href="https://manjaro.org/" target="_blank">Manjaro Linux</a>, an Arch Linux based distribution that
                aims to be user friendly and accessible while still giving the users all the freedom they always needed.
            </p>
        </article>
    </main>
{% endblock %}