{% extends "../templates/base.njk" %}
{% set menu_selected = "legal" %}
{% block main %}
    <main>
        <h1>Legal</h1>
        <article>
            <h2>Image Gallery</h2>
            <p>
                You may've seen the slick images of this site. They look great, but they aren't mine. I just stole them
                blatantly from <a href="https://www.reddit.com/r/unixporn/" target="_blank">r/unixporn</a>. No worries,
                it's <abbr title="Safe For Work">SFW</abbr>, here you'll only see <em>sexy</em> desktops (Sorry, I
                couldn't hold myself 😅). For legal reasons, I have to list them here. Click them to open!
            </p>
            <ul class="images-rights">
                {% for image in images %}
                    <li><a href="{{ image.source }}" target="_blank"> <img src="{{ image.res["512"] }}"
                                                                           alt="{{ image.alt }}"></a></li>
                {% endfor %}
            </ul>
        </article>
        <article>
            <h2>Cookies</h2>
            <p>Although we love eating cookies, no cookies are used on this website.</p>
            <p>Sorry, I was wrong! I've found one!</p>
            <p>Here, a cookie for you: <a href="🍪.html" class="low-profile">🍪</a></p>
        </article>
        <article>
            <h2>Arch Linux Logo</h2>
            <p>The Arch Linux logo is being used in accord with the
                <a href="https://wiki.archlinux.org/index.php/DeveloperWiki:TrademarkPolicy" target="_blank">
                    Trademark Policy</a></p>
        </article>
    </main>
{% endblock %}