{% extends "../templates/base.njk" %}
{% set menu_selected = "my-experience" %}
{% block main %}
    <main>
        <h1>My personal experience</h1>

        <article>
            <h2>My personal experience</h2>
            <p>
                I use Arch Linux as my main OS for about 1.5 years, and I'm in love with it!
            </p>
            <p>
                Before that I used <span title="Another good Linux Distro">Linux Mint</span>, but somehow it didn't
                satisfy my needs, I
                needed something different. I was tired of having to add an PPA to everything. I disliked some
                predefined/preinstalled features. I needed a system, on which I could do everything by myself.
            </p>
            <p>
                It was when I decided to start using Arch Linux.
            </p>
            <p>
                At first, it was a <em>living hell</em>. Such a non-user-friendly installation process, and after that,
                you don't even have your GUI! It's OK that I can choice what I want to have, but why do I have to
                activate the program after installing it? Isn't it already logical, that if I installed, I want to use
                it?
            </p>
            <p>
                But after some months, I got used to it. Not just that, I started learning how it works. I started
                understanding it. I started to see, the reason why some things are the way they are. <em>And then all
                    started making sense.</em>
            </p>
            <p>
                And at this time, the time you start understanding <a
                        href="https://wiki.archlinux.org/index.php/Arch_Linux#Principles" target="_blank"
                        title="Also known as the Arch Linux principles">The Arch Way</a>
                is the time you really start to love your system, is the time you really start understanding, how your
                computer truly works. <em>It's the time your system start being really yours.</em>
            </p>
            <p>
                And well, after that it has been just awesome!
            </p>
            <p>
                <em>Yes</em>, I had some problems once or twice. But hey, that's the spirit of the thing! Do you have a
                problem? Fix it!
            </p>
        </article>

    </main>
{% endblock %}