{% import "../templates/macros/images-gallery.njk" as imagesGallery %}
{% extends "../templates/base.njk" %}
{% block main %}
<main>
    <h1>🍪</h1>

    <article>
        <h2>🍪</h2>
        <p>How... How did you... Man, WHAT THE FUCK?!</p>
    </article>
</main>
{% endblock %}
{% block footer %}<footer><div>🍪</div></footer>{% endblock %}
{% block title %}🍪{% endblock %}