{% macro imagesGallery(imagesArray) %}
    <div class="image-grid">
        {% for image in imagesArray %}
            <figure>
                <img src="{{ image.res["512"] }}" alt="{{ image.alt }}" data-orig="{{ image.src }}">
                <figcaption>{{ image.figcaption|default(image.alt) }}</figcaption>
            </figure>
        {% endfor %}
    </div>
{% endmacro %}