<footer>
        <div>Made in a vocational course in
            <time datetime="2018-02">February 2018</time>
            by <a rel="author" href="mailto:{{ mail }}">Eduardo Rocha</a>
        </div>
</footer>