<header>
    <div class="container">
        <div id="menu-button" class="menu-burger white"></div>
    </div>
    <nav id="navbar">
        <ul>
            {% for menu in navbar %}
                <li {% if menu_selected == menu.menu_selected %}class="selected"{% endif %}><a href="{{ menu.href }}">{{ menu.name }}</a></li>
            {% endfor %}
        </ul>
    </nav>
</header>