<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Arch Linux{% endblock %}</title>
    <link rel="stylesheet" href="/css/main.min.css">
    <link rel="shortcut icon" href="/favicon.ico">
</head>
<body>
{% block header %}{% include "partials/header.njk" %}{% endblock %}
{% block main %}{% endblock %}
{% block footer %}{% include "partials/footer.njk" %}{% endblock %}
{% block scripts %}{% include "partials/scripts.njk" %}{% endblock %}
</body>
</html>